html,
body {
  background: #fff;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: visible;
}

section {
  padding-top: 70px;
  width: 100%;
  height: 100%;
}
.laptop-img {
  height: 350px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: korFont2;
}
.intro h1 {
  font-size: 40px;
  margin-bottom: 40px;
  line-height: 1.5;
  width: 850px;
  margin: 20px auto;
  margin-top: 10px;
}
.intro h1 span {
  font-size: 55px;
  font-family: engFont;
}
.about-text {
  border-bottom-color: #767676;
  margin: 50px auto 50px auto;
  font-size: 35px;
  font-family: korFont2;
}
.sub-text {
  font-family: korFont;
  margin: 30px auto 0 auto;
  line-height: 3;
  color: #838383;
  font-size: 25px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 45px;
}
.sub-text-span {
  gap: 30px;
}
.paint-box {
  height: 400px;
}
.paint2 {
  height: 400px;
}
.activities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 95px;
  margin-bottom: 40px;
}
.container-activity {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 350px;
  margin-top: 20px;
}
.activity-image {
  height: 150px;
}
.activity-title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: korFont2;
}
.activity-subtext {
  font-size: 17px;
  color: #767676;
  text-align: center;
  font-family: korFont;
  line-height: 1.3;
}
.activity-image-1 {
  height: 150px;
}
.activity-image-2 {
  height: 150px;
}
.activity-image-3 {
  height: 150px;
}
.classes {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}
.container {
  width: 200px;
  height: 240px;
  padding: 10px;
  padding-top: 20px;
  margin-left: 50px;
  box-shadow: 1px 1px 2.5px 1.5px rgba(168, 168, 168, 0.201);
  display: flex;
  flex-direction: column;
}

.language {
  font-size: 13px;
  font-family: korFont2;
  padding-bottom: 5px;
}

.className {
  font-size: 20px;
  font-family: korFont2;
}

.classPic {
  width: 120px;
  height: 120px;
  margin-top: 10px;
}

.btn,
.btn:link,
.btn:visited {
  width: 95px;
  border: 1.8px solid black;
  height: 35px;
  font-size: 12px;
  margin-left: 80px;
  margin-top: 8px;
}
.el-1 {
  padding-right: 5px;
}

.c-logo {
  width: 105px;
  margin-left: 0px;
}
.ms-logo {
  width: 120px;
  margin-left: -21px;
}
.js-logo {
  margin-left: 0px;
  width: 115px;
}
.ending-text {
  display: flex;
  font-family: engFont2;
  font-size: 25px;
  margin: 150px auto 150px auto;
  line-height: 1.5;
  justify-content: center;
  flex-direction: row;
  gap: 150px;
}

.clock-image {
  height: 320px;
}
