html,
body {
  background: #fff;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: visible;
}

section {
  padding-top: 70px;
  width: 100%;
  height: 1650px;
}
.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: korFont2;
}
.intro h1 {
  font-size: 35px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.intro h1 span {
  font-size: 50px;
  font-family: engFont;
}
.about-text {
  border-bottom-color: #767676;
  margin: 50px auto 25px auto;
  font-size: 25px;
  font-family: korFont2;
}
.sub-text {
  width: 670px;
  font-family: korFont;
  margin: 30px auto 0 auto;
  line-height: 3;
  color: #838383;
  font-size: 25px;
  text-align: center;
  margin-top: 0;
}
.sub-text-span {
  gap: 30px;
}
.paint-box {
  height: 400px;
}
.paint2 {
  height: 400px;
}
.classes {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.container {
  width: 200px;
  height: 240px;
  padding: 10px;
  padding-top: 20px;
  margin-left: 50px;
  box-shadow: 1px 1px 2.5px 0.5px rgba(168, 168, 168, 0.201);
  display: flex;
  flex-direction: column;
}

.language {
  font-size: 13px;
  font-family: korFont2;
  padding-bottom: 5px;
}

.className {
  font-size: 20px;
  font-family: korFont2;
}

.classPic {
  width: 120px;
  height: 120px;
  margin-top: 10px;
}

.btn,
.btn:link,
.btn:visited {
  width: 95px;
  border: 1.8px solid black;
  height: 35px;
  font-size: 12px;
  margin-left: 80px;
  margin-top: 8px;
}
.el-1 {
  padding-right: 5px;
}

.c-logo {
  width: 105px;
  margin-left: 0px;
}
.ms-logo {
  width: 120px;
  margin-left: -21px;
}
.js-logo {
  margin-left: 0px;
  width: 115px;
}
