html,
body {
  background: #fff;
  width: 100%;
  position: relative;
  overflow: visible;
}

section {
  padding-top: 70px;
  width: 100%;
  height: 100%;
}
.laptop-img {
  height: 350px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: korFont2;
}
.intro h1 {
  font-size: 40px;
  margin-bottom: 40px;
  line-height: 1.5;
  width: 850px;
  margin: 20px auto;
  margin-top: 10px;
}
.intro h1 span {
  font-size: 55px;
  font-family: engFont;
}
.about-text {
  border-bottom-color: #767676;
  margin: 50px auto 50px auto;
  font-size: 35px;
  font-family: korFont2;
}
.sub-text {
  font-family: korFont;
  margin: 30px auto 0 auto;
  line-height: 3;
  color: #838383;
  font-size: 25px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 45px;
}
.sub-text-span {
  gap: 30px;
}
.paint-box {
  height: 400px;
}
.paint2 {
  height: 400px;
}
.activities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 95px;
  margin-bottom: 40px;
}
.container-activity {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 350px;
  margin-top: 20px;
}
.activity-image {
  height: 150px;
}
.activity-title {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: korFont2;
}
.activity-subtext {
  font-size: 17px;
  color: #767676;
  text-align: center;
  font-family: korFont;
  line-height: 1.3;
}
.activity-image-1 {
  height: 150px;
}
.activity-image-2 {
  height: 150px;
}
.activity-image-3 {
  height: 150px;
}
.classes {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 90px;
  margin-top: 20px;
}
.classes-second-layer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 90px;
  margin-top: 50px;
}
.container {
  width: 200px;
  height: 240px;
  padding: 10px;
  padding-top: 20px;
  box-shadow: 1px 1px 2.5px 1.5px rgba(168, 168, 168, 0.201);
  display: flex;
  flex-direction: column;
}
.container-hidden {
  opacity: 0%;
}
.language {
  font-size: 13px;
  font-family: korFont2;
  padding-bottom: 5px;
}

.className {
  font-size: 20px;
  font-family: korFont2;
}

.classPic {
  width: 120px;
  height: 120px;
  margin-top: 10px;
}
.btn,
.btn:link,
.btn:visited {
  width: 95px;
  border: 1.8px solid black;
  height: 35px;
  font-size: 12px;
  margin-left: 87px;
  margin-top: 8px;
  background-color: transparent;
}
.el-1 {
  padding-right: 5px;
}

.c-logo {
  width: 100px;
  margin-left: 0px;
}
.py-logo {
  width: 110px;
  margin-left: 0px;
}
.js-logo {
  margin-left: 0px;
  width: 110px;
}
.algorithm-logo {
  margin-left: -10px;
  width: 130px;
}
.web-logo {
  width: 120px;
}
.ai-logo {
  width: 140px;
}
.modal-hidden {
  display: none;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 350px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-family: korFont;
  line-height: 1.2;
}
.class-title {
  padding-bottom: 10px;
}
.class-subtitle {
  background-color: #9900ff;
  color: white;
  display: inline-block;
  border-radius: 7px;
}
.class-subtitle-text {
  font-size: 14px;
  margin: 3.5px;
}
.modal-description {
  width: 100%;
  padding-top: 25px;
  margin-bottom: 25px;
}
.github-link {
  text-decoration: none;
  color: #767676;
  font-weight: 1000;
}
.close-modal {
  position: absolute;
  top: 0px;
  right: 13px;
  font-size: 45px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.ending-text {
  display: flex;
  font-family: engFont2;
  font-size: 25px;
  margin: 150px auto 150px auto;
  line-height: 1.5;
  justify-content: center;
  flex-direction: row;
  gap: 150px;
}

.clock-image {
  height: 320px;
}

/* Code for phone screen */
@media screen and (max-width: 450px) {
  .intro h1 {
    width: 350px;
    font-size: 23px;
  }
  .intro h1 span {
    font-size: 33px;
  }
  .laptop-img {
    height: 250px;
  }
  .sub-text {
    font-size: 15px;
  }
  .activities {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .classes {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .classes-second-layer {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .container-hidden {
    height: 0px;
  }
  .container {
    margin-left: 0;
  }
  .ending-text {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 70px;
    margin-bottom: 60px;
  }
  .modal {
    width: 350px;
    height: 370px;
  }
  .modal-description {
    width: 100%;
    padding-top: 25px;
    margin-bottom: 25px;
  }
  .class-subtitle-text {
    font-size: 11px;
  }
}
