:root {
  --width: 100%;
  --height: 100%;
  --border-width: 200px;
  --border-height: 200px;
}

html,
body {
  background: #fff;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: visible;
}

.gallery {
  position: relative;
  top: 100px;
  left: 200px;
  height: 700px;
  width: 100%;
}

.gallery:after {
  content: "";
}
/*
.shadow {
  position: relative;
  top: 500px;
  left: 0;
  width: 700px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(#805d78, rgba(0, 0, 0, 0) 70%);
}
*/
.description {
  font-family: korFont;
  color: #767676;
  margin-bottom: 50px;
  margin-left: 25px;
  line-height: 1.3;
  width: 600px;
}
img {
  width: var(--width);
  height: var(--height);
}

.clipped-border {
  -webkit-clip-path: polygon(
    50% 0%,
    95% 25%,
    95% 75%,
    50% 100%,
    5% 75%,
    5% 25%
  );
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  padding: 5px;
  background: linear-gradient(grey, lightgrey);
  width: var(--border-width);
  height: var(--border-height);
  max-height: 250px;
  max-width: 250px;
  height: var(--height);
  width: var(--width);
  transition: transform 0.2s;
  position: absolute;
  cursor: pointer;
}

.clipped-border:before {
  content: "";
  position: absolute;
  opacity: 0.5;
  width: 350px;
  height: 70px;
  background: white;
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:hover:before {
  transform: translate(-100px, 400%) rotate(45deg);
  transition: transform 0.5s;
}

.clipped-border:nth-child(2) {
  top: 196px;
  left: 118px;
}

.clipped-border:nth-child(3) {
  top: 0;
  left: 235px;
}

.clipped-border:nth-child(4) {
  top: 196px;
  left: 353px;
}

.clipped-border:nth-child(5) {
  top: 0;
  left: 470px;
}

.clipped-border:nth-child(6) {
  top: 196px;
  left: 587px;
}


#clipped {
  -webkit-clip-path: polygon(
    50% 0%,
    95% 25%,
    95% 75%,
    50% 100%,
    5% 75%,
    5% 25%
  );
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
}

.clipped-border:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
  z-index: 10;
}

@media screen and (max-width: 720px) {
  .gallery {
    top: 100px;
    left: 25px;
    height: 400px;
  }
  .clipped-border {
    width: 110px;
    height: 110px;
  }

  section {
    margin-left: -18px;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 550px;
  }
  .clipped-border:nth-child(2) {
    top: 82px;
    left: 49px;
  }

  .clipped-border:nth-child(3) {
    left: 99px;
  }

  .clipped-border:nth-child(4) {
    top: 82px;
    left: 148px;
  }

  .clipped-border:nth-child(5) {
    top: 0px;
    left: 198px;
  }
  .clipped-border:nth-child(6) {
    top: 82px;
    left: 247.2px;
  }
  .clipped-border:nth-child(7) {
    top: 164px;
    left: 99px;
  }
  .description {
    width: 600px;
    font-size: 12px;
    margin-top: 80px;
    line-height: 1.2;
  }
}
