* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
@font-face {
  font-family: engFont;
  src: url(/fonts/DaytonaPro-Regular.ttf) format(truetype);
}
@font-face {
  font-family: engFontBold;
  src: url(/fonts/DaytonaPro-Bold.ttf) format(truetype);
}
@font-face {
  font-family: korFont;
  src: url(/fonts/MICEGothic.ttf) format(truetype);
}
@font-face {
  font-family: engFont2;
  src: url(/fonts/Hack-Regular.ttf) format(truetype);
}
@font-face {
  font-family: korFont2;
  src: url(/fonts/SCDream5.otf) format(opentype);
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 3.3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.comit-logo {
  font-size: 2.2vw;
  font-family: engFont;
  color: #ff4a4a;
  margin-left: 1.5vw;
  text-decoration: none;
}
.main-page {
  display: relative;
  overflow: hidden;
  height: 121vh;
  background-color: white;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3vw;
  margin-top: 0vh;
  margin-right: 2vw;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 1.2vw;
  transition: all 0.3s;
  font-family: engFont;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #ff4a4a;
}
.main {
  font-family: engFont;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.earth {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.name {
  font-size: 14vw;
  position: absolute;
  top: 200px;
  color: #ff4a4a;
  left: 50px;
  font-family: engFontBold;
}
.sub-title {
  font-family: korFont;
  position: absolute;
  top: 150px;
  left: 70px;
  font-size: 3.7vw;
  line-height: 1.5;
  color: orange;
}
/*
.btn-main {
  display: block;
  text-decoration: none;
  color: #ffffff;
  border-radius: 25px;
  border-color: #ffffff;
  border: 2.56px solid #ffffff;
  background-color: transparent;
  position: absolute;
  height: 60px;
  width: 100px;
  bottom: 5.87px;
  left: 512px;
  font-family: korFont;
  font-size: 1.9vw;
  cursor: pointer;
} */
.wrapper {
  position: absolute;
  top: 100px;
  left: 70px;
  display: inline-flex;
}
.dynamic-txts {
  overflow: hidden;
  line-height: 4.5vw;
  height: 4.5vw;
}
.dynamic-txts li {
  font-family: korFont;
  color: orange;
  font-size: 3.7vw;
  top: 0;
  list-style: none;
  position: relative;
  animation: slide 10s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -18vw;
  }
}
.dynamic-txts li .txt-lists {
  position: relative;
}
footer {
  font-family: engFont;
  font-size: 3.3vw;
  background: #03132b;
  width: 100%;
  height: 30px;
}
