/*
--- 01 Typography system
- Font sizes(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400

- Line heights
Default: 1

--- 02 COLORS

- Primary: #9900FF
- Tints:
- Shades:
- Accents: 
- Greys: 

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

-- 05 Shadows
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

-- 06 Border-Radius
Default: 9px
Medium: 11px

-- 07 WhiteSpace

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
@font-face {
  font-family: engFont;
  src: url("../fonts/DaytonaPro-Regular.ttf") format(truetype);
}
@font-face {
  font-family: "engFontBold";
  src: url("../fonts/DaytonaPro-Bold.ttf") format(truetype);
}
@font-face {
  font-family: "korFont";
  src: url("../fonts/MICEGothic.ttf") format(truetype);
}
@font-face {
  font-family: "engFont2";
  src: url("../fonts/Hack-Regular.ttf") format(truetype);
}
@font-face {
  font-family: "korFont2";
  src: url("../fonts/SCDream4.otf") format(opentype);
}
body {
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}
.header {
  font-family: engFont;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 73px;
  padding: 0 23px;
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0 1px 2.5px 0 rgba(148, 148, 148, 0.201);
  top: 0px;
}
.logo {
  width: 50px;
  height: 60px;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 35px;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 19px;
  transition: all 0.3s;
  font-family: engFont;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #9900ff;
}

/*MOBILE*/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 35px;
  width: 35px;
  color: black;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}
.main-page {
  background-color: #ffffff;
}
.main {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-left: 10%;
  margin-left: 100px;
}
.main-text-box {
  margin-top: 100px;
  width: 700px;
  display: flex;
  flex-direction: column;
}
.primary-heading {
  font-size: 65px;
  line-height: 1.3;
  margin-bottom: 40px;
  font-family: korFont2;
  font-weight: normal;
}
.sub-heading {
  font-family: korFont;
  color: #767676;
  line-height: 1.3;
  font-size: 20px;
  margin-bottom: 30px;
  width: 600px;
}
.main-image {
  width: 700px;
  height: 500px;
}
.main-image-box {
  margin-top: 100px;
  margin-left: -100px;
}
.btn,
.btn:link,
.btn:visited {
  width: 140px;
  display: flex;
  text-decoration: none;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-family: korFont;
  transition: all 0.3s;
  border: 1.5px solid black;
  align-items: center;
  justify-content: center;
  padding: 11px;
  margin-left: 430px;
}
.el-1 {
  padding-right: 10px;
}
.el-2 {
  width: 25px;
}
.btn--full:link,
.btn--full:visited {
  background-color: rgb(255, 255, 255);
  color: black;
}
.btn--full:hover,
.btn--full:active {
  background-color: white;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #a2a2a21f;
  box-shadow: inset 0 0 0 1.5px #fff;
}
footer {
  background-color: rgba(229, 229, 229, 0.854);
  height: 100px;
  display: flex;
  flex-flow: column;
  gap: 8px;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  color: #767676;
  padding-right: 10px;
  justify-content: center;
  align-items: flex-end;
  bottom: 0;
  width: 100%;
}

/* Code for Tablet screen */
@media screen and (max-width: 1080px) {
}

/* Code for phone screen */
@media screen and (max-width: 720px) {
  .main {
    margin-top: 100px;
    margin-left: 0px;
    width: 100%;
    height: 110vh;
    align-items: center;
    grid-template-columns: 1fr;
    padding-left: 0px;
  }
  .main-text-box {
    padding-left: 30px;
    padding-bottom: 10px;
  }
  .primary-heading {
    margin: 0px 0 30px 0;
    font-size: 33px;
    padding-top: 20px;
  }
  .sub-heading {
    width: 300px;
    font-size: 15px;
    margin-bottom: 0;
  }
  .btn,
  .btn:link,
  .btn:visited {
    margin-left: 0;
    margin-top: 25px;
  }
  .main-image-box {
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .main-image {
    width: 400px;
    height: 300px;
  }
  footer {
    width: auto;
  }
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: white;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1s ease-in;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
  }
  .nav-open .main-nav {
    display: none;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    margin-top: 40%;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 40px;
  }

  
}

.qr {
  flex:1;
  text-align: center;
  padding-bottom: 30px;
}

.qr-img {
  width: 50%;
  margin-bottom: 50px;
}