* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

/* Code for PC screen */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-top: 50px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Code for Tablet screen */
@media screen and (max-width: 1080px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Code for phone screen */
@media screen and (max-width: 720px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
