* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
.background-container {
  z-index: -100; /*백그라운드로 배치*/
  background: linear-gradient(
    to bottom,
    #3b76ce,
    #1c3a67,
    #0c192c,
    #0c192c,
    #0c192c,
    #0c192c
  );
  position: relative;
  width: 100%;
  height: 150vh;
  overflow: hidden;
}
.stars {
  position: relative;
  display: flex;
}
.stars span {
  position: relative;
  min-width: 20px;
  min-height: 20px;
  background: #4fc3dc;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0 0 0 6px #4fc3dc44, 0 0 30px #4fc3dc, 0 0 70px #4fc3dc;
  animation: stars 30s linear infinite;
  animation-duration: calc(120s / var(--i));
}
.stars span:nth-child(even) {
  background: #07ffbdcd;
  box-shadow: 0 0 0 6px #07ffbd45, 0 0 30px #07ffbd, 0 0 70px #07ffbd;
}
@keyframes stars {
  /*star-flying 애니메이션*/
  0% {
    transform: translateY(150vh) scale(0);
  }
  100% {
    transform: translateY(-30vh) scale(1);
  }
}
@font-face {
  font-family: engFont;
  src: url(fonts/DaytonaPro-Regular.ttf);
}
@font-face {
  font-family: engFontBold;
  src: url(fonts/DaytonaPro-Bold.ttf);
}
@font-face {
  font-family: korFont;
  src: url(fonts/MICEGothic.ttf);
}
@font-face {
  font-family: engFont2;
  src: url(fonts/Hack-Regular.ttf);
}
header {
  font-family: engFont;
  font-size: 3.3vw;
  color: whitesmoke;
  background: linear-gradient(
    to bottom,
    #050a11,
    #0b1729,
    #0c192c,
    #1c3a67,
    #3b76ce
  );
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

header span {
  background: linear-gradient(to right, #8664c6, #2ebf91);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .skku-logo {
  width: 5.46875vw;
  height: 5.46875vw;
  position: absolute;
  top: 1.171875vw;
  right: 1.5625vw;
}

header .comit-logo {
  font-size: 2vw;
  position: absolute;
  top: 1.171875vw;
  left: 1.5625vw;
  font-family: engFont;
  color: rgb(97, 112, 147);
}
.about {
  /*about 페이지 */
  aspect-ratio: 960/600;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(images/transition-1.svg);
  background-color: #3c31dd;
  color: white;
  height: 200vh;
  display: flex;
  position: relative;
  font-family: engFontBold;
}
.name {
  font-size: 10vw;
  position: absolute;
  bottom: 24vw;
  left: 10vw;
}
.sub-title {
  font-family: korFont;
  position: absolute;
  top: 43vw;
  left: 10vw;
  font-size: 3.3vw;
  line-height: 1.5;
}
.striped-circle {
  /*about: 점선 원 도형*/
  width: 27vw;
  height: 27vw;
  top: 42.5vw;
  right: 6vw;
  position: absolute;
}
.buildings {
  /*about: 건물 도형*/
  width: 33vw;
  height: 16vw;
  bottom: 0;
  left: 10vw;
  position: absolute;
}
.grids {
  /*about: 그리드 도형*/
  width: 34vw;
  height: 30vw;
  bottom: 3vw;
  right: 18vw;
  position: absolute;
}
.transition1 {
  position: relative;
  width: 100%;
  height: 150vh;
  background: #0c192c;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rocket {
  width: 15vh;
  height: 25vh;
  position: relative;
  animation: fly 0.2s ease infinite;
} /*
.transition1 .rocket {
  position: relative;
  animation: animate 0.2s ease infinite;
}*/
@keyframes fly {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translate(2px);
  }
}
.transition1 .rocket::before {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#00d0ff, transparent);
}
.transition1 .rocket::after {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#00d0ff, transparent);
  filter: blur(20px);
}
.transition1 i {
  position: absolute;
  top: -250px;
  background: rgba(255, 255, 255, 0.5);
  animation: animateStars linear infinite;
}
@keyframes animateStars {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200vh);
  }
}

.classes {
  /*분반 페이지*/
  font-family: engFont;
  font-size: 3.3vw;
  color: whitesmoke;
  background: #1f5cb7;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
.projects {
  font-family: engFont;
  font-size: 3.3vw;
  background: #ffffff;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contacts {
  font-family: engFont;
  font-size: 3.3vw;
  background: #03132b;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}
