<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/gallery.css" />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <a class="comit-logo" href="#"
        ><p><strong>COM!T</strong></p></a
      >
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link" href="../index.html"
              ><strong>HOME</strong></a
            >
          </li>
          <li>
            <a class="main-nav-link" href="about.html"
              ><strong>ABOUT</strong></a
            >
          </li>
          <li>
            <a class="main-nav-link" href="gallery.html"
              ><strong>GALLERY </strong></a
            >
          </li>
          <li>
            <a class="main-nav-link" href="activity.html"
              ><strong>ACTIVITY</strong></a
            >
          </li>
          <li>
            <a class="main-nav-link" href="members.html"
              ><strong>MEMBERS</strong></a
            >
          </li>
        </ul>
      </nav>
    </header>

    <script src="../js/gallery.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
