<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/gallery.css" />
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <a href="#"
        ><img class="logo" alt="COMIT Logo" src="../images/COMIT.JPG"
      /></a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link" href="../index.html"
              ><strong>Home</strong></a
            >
          </li>
          <li>
            <a class="main-nav-link" href="about.html"
              ><strong>About</strong></a
            >
          </li>
          <li>
            <a class="main-nav-link" href="gallery.html"
              ><strong>Gallery</strong></a
            >
          </li>
          <li>
            <a class="main-nav-link" href="members.html"
              ><strong>Members</strong></a
            >
          </li>
        </ul>
      </nav>
    </header>

    <div class="shelfTitle">
      <ul class="nav">
        <li><a href="" id="view-1-shelf">2022-2</a></li>
        <li><a href="" id="view-2-shelf">2023-1</a></li>
        <li><a href="" id="view-3-shelf">2023-2</a></li>
        <li><a href="" id="view-4-shelf">2024-1</a></li>
        <li><a href="" id="view-5-shelf">2024-2</a></li>
      </ul>
    </div>
    <div class="scene">
      <!-- camera -->
      <div class="roll-camera">
        <div class="move-camera">
          <div class="wallpaper"></div>
          <!-- shelf -->
          <div class="shelf num1">
            <div class="face top"></div>
            <div class="face front">
              <a href="#" data-img-url="../photos/1.jpg" class="photocard">
                <img src="../gallery/1.jpg" alt="" />
              </a>
              <a href="#" class="photocard">
                <img src="../gallery/2.jpg" alt="" />
              </a>
              <a href="#" class="photocard">
                <img src="" alt="" />
              </a>
            </div>
            <div class="face back"></div>
            <div class="face left"></div>
            <div class="face bottom"></div>
          </div>
          <!-- /shelf -->

          <!-- shelf -->
          <div class="shelf num2">
            <div class="face top"></div>
            <div class="face front">
              <a href="#" data-img-url="../photos/1.jpg" class="photocard">
                <img src="" alt="" />
              </a>
              <a href="#" class="photocard">
                <img src="" alt="" />
              </a>
              <a href="#" class="photocard">
                <img src="" alt="" />
              </a>
            </div>
            <div class="face back"></div>
            <div class="face left"></div>
            <div class="face bottom"></div>
          </div>
          <!-- /shelf -->

          <!-- shelf -->
          <div class="shelf num3">
            <div class="face top"></div>
            <div class="face front">
              <a href="#" data-img-url="../photos/1.jpg" class="photocard">
                <img src="" alt="" />
              </a>
              <a href="#" class="photocard">
                <img src="" alt="" />
              </a>
              <a href="#" class="photocard">
                <img src="" alt="" />
              </a>
            </div>
            <div class="face back"></div>
            <div class="face left"></div>
            <div class="face bottom"></div>
          </div>
          <!-- /shelf -->

          <!-- shelf -->
          <div class="shelf num4">
            <div class="face top"></div>
            <div class="face front">
              <a href="#" data-img-url="../photos/1.jpg" class="photocard">
                <img src="" alt="" />
              </a>
              <a href="#" class="photocard">
                <img src="" alt="" />
              </a>
              <a href="#" class="photocard">
                <img src="" alt="" />
              </a>
            </div>
            <div class="face back"></div>
            <div class="face left"></div>
            <div class="face bottom"></div>
          </div>
          <!-- /shelf -->

          <!-- shelf -->
          <div class="shelf num5">
            <div class="face top"></div>
            <div class="face front">
              <a href="#" data-img-url="../photos/1.jpg" class="photocard">
                <img src="" alt="" />
              </a>
              <a href="#" class="photocard">
                <img src="" alt="" />
              </a>
              <a href="#" class="photocard">
                <img src="" alt="" />
              </a>
            </div>
            <div class="face back"></div>
            <div class="face left"></div>
            <div class="face bottom"></div>
          </div>
          <!-- /shelf -->
        </div>
        <!-- /camera -->
      </div>
    </div>
    <script src="../js/gallery.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>
